/*-- Importing web font Roboto from google fonts website --*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

/*-- Setting variable fonts --*/

:root {
    --dark: #1F2937;
    --grey: #E5E7EB;
    --white: #F9FAF8;
    --blue: #3882F6;
}

* {
    margin: 0px;
    padding: 0px;    
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    
}

/* Header section */
header {
    background-color: var(--dark);     
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 200px;
}

.headerlogotext {
    font-size: 24px;
    font-weight: bolder;
    color: var(--white);
    text-decoration-line: none;
    
}

nav ul {
list-style-type: none;
display:flex;
}

nav ul li a {
    font-size: 18px;
    color: var(--grey);
    text-decoration: none;
    padding: 12px;
}

nav ul li a:hover {
    background-color: var(--grey);
    color: var(--dark);
    text-decoration: underline;
}

/* Intro section */
.intro {
    background-color: var(--dark);
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 100px 200px;
}

.introtext {
    display: flex;
    flex-direction: column;
    width: 50%;  
    row-gap: 10px;

}

.introtext h1 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--white);
}

.introtext p {
    font-size: 18px;
    color: var(--grey);
} 

button {    
    background-color: var(--blue);
    border: var(--blue);
    padding: 10px;
    border-radius: 10px;
    width: 120px;  

}

button a{
    color: var(--white);
    text-decoration: none;
    font-weight: 900;
}

.companylogo {
    height: 230px;
    width: 520px;
    text-align: center;
    background-color: var(--grey);
    border-radius: 20px;
    padding: 10px;
}

.logo {
    font-size: 120px;
    padding-top: 25px;
    

}

.name {
    font-size: 24px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

/* Services section */

.services h2 {
    font-size: 36px;
    font-weight: bolder;
    color: var(--dark);
    text-align: center;
    padding: 30px;
    }

.services-container {
    display: flex;
    justify-content: center;
    
   }

.service {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.service a {
    height: 200px;
    width: 180px;
    box-sizing: border-box;
    padding: 80px 0px;
    background-color: var(--white);
    color: var(--dark);
    border: 2px solid var(--blue);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    margin: 0 15px 15px 15px;
    text-decoration: none;
}  


.service a:hover {
    background-color: var(--dark);
    color: var(--white);
}

.service p {
    width: 180px;
    height: auto;
    padding-left: 15px;
    margin-bottom: 80px;
}

/* Testimonial section */

.testimonials {
    background-color: var(--grey);
    padding: 100px 250px;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.testimonial-container .testimony {
    font-size: 36px;
    font-weight: 100;
    color: var(--dark);
}

.testimonial-container .customer {
    font-size: 24px;
    color: var(--dark);
    align-self: flex-end;
}

/* Contact section */

.contact {
    padding: 100px 200px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    padding: 50px 100px;
    border-radius: 10px;
}

.contact-container .contactus .bold {
    font-size: 24px;
    font-weight: 900;
} 

.contact-container button {
    border: 2px solid var(--white);
}

/* Footer section */

footer {
    background-color: var(--dark);
    color: var(--white);
    padding: 20px;
    text-align: center;
}